<html>
  <head>
    <title>Subjects</title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <h2>Subjects Data</h2>
      <a href="/subjects/add">Add Subject</a>
      <table border="1">
        <tr>
          <th>id</th>
          <th>Subject Name</th>
          <th>Options</th>
        </tr>
        <% subjects.forEach( subject => {%>
        <tr>
          <td><%= subject.id %></td>
          <td><%= subject.subject_name %></td>
          <td>
            <a href="/subjects/edit/<%= subject.id %>">Edit </a>|
            <a href="/subjects/delete/<%= subject.id %>" onclick="return confirm('Are you sure want to delete this data?');"> Delete</a>
          </td>
        </tr>
        <% })%>
      </table>
    </div>
  </body>
</html>
