<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" media="screen">
    <title>Add Student</title>
</head>
<body>
    <form action="" method="post">
        <h2>FORM ADD TEACHERS</h2>
        <ul>
            <li>
                <label for="firstName">First Name :</label>
                <input type="text" name="firstName" value="Enter first name">
            </li>
            <li>
                <label for="lastName">last Name :</label>
                <input type="text" name="lastName" value="Enter last name">
            </li>
            <li>
                <label for="email">Email :</label>
                <input type="text" name="email" value="Enter e-mail">
            </li>
            <li>
                <label for="subject">Subject :</label>
                <input type="text" name="subject" value="Enter subject">
            </li>
            <li>
                <button class="submit" type="submit">Add Teacher</button>
            </li>
        </ul>
    </form>
</body>
</html>