<!DOCTYPE html>
<html>
  <body>

    <h2>Add Teacher Data</h2>

    <form action="/teacher/add" method="post">
      First name:<br>
      <input type="text" name="firstname" value="">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="">
      <br>
      Email:<br>
      <input type="text" name="email" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
