<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Teacher</title>
  </head>
  <body>
    <h1>Add Teacher</h1>
    <a href="/teachers">Show All Data</a>
    <form action="/teachers/add" method="post">
      First name:<br>
      <input type="text" name="first_name" value=""><br>
      Last name:<br>
      <input type="text" name="last_name" value=""><br>
      Email:<br>
      <input type="text" name="email" value=""><br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
